.about {
    width: 100%;
    margin-top: 5rem;
}

.section-contents {
    width: 82%;
    padding: 0;
    margin: 0 auto;

    @media (min-width: 769px) {
        width: 66%;
    }
}

.about-item {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 3rem;

    @media (min-width: 769px) {
        flex-direction: row;
        margin-bottom: 5rem;
    }
}

.about-item-ttl {
    width: 100%;
    padding-left: 1rem;
    margin: 0 0 2rem;
    border-left: 3px solid $brown;
    color: transparent;
    display: inline-block;
    overflow: hidden;
    position: relative;
    transition: color 0ms 450ms;

    @media (min-width: 769px) {
        width: 48%;
        border-left: 5px solid $brown;
    }
}

.about-item-ttl::after {
    background: linear-gradient(to top,$basecolor 0%, $turquoise 100%);
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(0, 100%);
}

.about-item-ttl.is-animated {
    color: $black;
}
.about-item-ttl.is-animated::after {
    animation: about-item-ttl 1.2s cubic-bezier(0.8, 0, 0.170, 1);
}

@keyframes about-item-ttl {
    0% {
      transform: translate(0, 101%)
    }
    40%, 60% {
      transform: translate(0, 0%)
    }
    100% {
      transform: translate(0, -100%)
    }
}

.profile, .skills {
    padding-left: 1.3rem;
    margin: 0;

    @media (min-width: 769px) {
        width: 48%;
        padding: 0;
    }

    p {
        padding: 0;
        margin: 0;
    }
}

.profile-par, .skills-item {
    padding: 0 0 1rem 0;
    margin: 0;
}

.skill-ttl {
    font-weight: 700;
}
