.cover {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    background-image: url(../images/cover/cover_bg.jpg);
    background-position: center;
    background-color: rgba($color: $basecolor, $alpha: .43);
    background-blend-mode: lighten;

    @media (min-width: 769px) {
        height: 70vh;
    }
}

.cover-ttl {
    padding-left: 5%;

    @media (min-width: 769px) {
        padding-left: 10%;
    }

    .cover-ttl-name {
        width: 100%;
        display: inline;
        text-align: right;
        padding: 0 2rem;
        font-size: 2.4rem;
        background-color: $black;
        color: $turquoise;
        box-shadow: 5px 5px 10px $turquoise;

        @media (min-width: 769px) {
            text-align: left;
            font-size: 3.6rem;
            margin: 0;
        }
    }
}

.cover-ttl-sp {
    @media (min-width: 769px) {
    display: none;
    }
}

.cover-ttl-pc {
    display: none;

    @media (min-width: 769px) {
        display: block;
    }
}

