.header {
    width: 100%;
    height: 6rem;
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    background-color: $basecolor;
}

.header-icon-top {
    padding-left: 9%;

    img {
        height: 6rem;
    }

    @media (min-width: 769px) {
        padding-left: 10%;
    }
}

.header-icon-linkstone {
    padding-right: 9%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    @media (min-width: 769px) {
        padding-right: 10%;
    }
}


/* トグルメニューのスタイル */
.linkstone#nav-button {
    width: 3rem;
    height: 3rem;
}

.nav {
    position: fixed;
    top: 6rem;
    left: 0;
    display: none;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    padding: 2rem 0;
    background-color: rgba($color: $basecolor, $alpha: .95);
    box-sizing: border-box;
  }

.nav-list {
    width: 82%;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    font-size: 2.4rem;

    @media (min-width: 769px) {
        width: 80%;
        font-size: 4.8rem;
    }
    
    li{
      padding: 0;
      margin-top: 2rem;

      a {
          border-bottom: solid 1px $black;
      }
    }

    #nav-list-small {
        font-size: 1.8rem;
        margin-top: 0;

        @media (min-width: 769px) {
            font-size: 3.6rem;
        }
    }

    span {
        color: $gray;
    }
}