
  #page_top{
    position: fixed;
    right: -65px;
    bottom: 50px;
    background-image: url("../images/icon/Pagetop_sp.png");
    background-origin: border-box;
    background-repeat: no-repeat;
  }

  #page_top a{
    position: relative;
    display: block;
    width: 65px;
    height: 50px;
    text-decoration: none;
    visibility: hidden;
  }
  #page_top a::before{
    content: '\f102';
    position: absolute;
    width: 25px;
    height: 25px;
    top: -5px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
  }
