.page-contents {
    min-height: calc(100vh - 16rem);
}

.contents-boxs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.practice-item-image {
    width: 100%;
    min-height: 13rem;
    position: relative;
    overflow: hidden;

    @media (min-width: 769px) {
        min-height: 20rem;
    }

    img {
        position: absolute;
        left: 0;
        //画像のサイズ感揃えないとダメじゃん
    }
}

.note-ttl {
    padding: .5rem 0;
    margin: 0 auto;

    i {
        padding-right: .5rem;
    }
}
