@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.75;
  color: #111;
  background-color: #F7FDFD;
}
@media (min-width: 769px) {
  body {
    font-size: 1.6rem;
  }
}

a:link, a:visited, a:active {
  text-decoration: none;
  color: #111;
}

a:hover {
  color: #31AEB2;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

small {
  font-size: 1.2rem;
}

.header {
  width: 100%;
  height: 6rem;
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  background-color: #F7FDFD;
}

.header-icon-top {
  padding-left: 9%;
}
.header-icon-top img {
  height: 6rem;
}
@media (min-width: 769px) {
  .header-icon-top {
    padding-left: 10%;
  }
}

.header-icon-linkstone {
  padding-right: 9%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
@media (min-width: 769px) {
  .header-icon-linkstone {
    padding-right: 10%;
  }
}

/* トグルメニューのスタイル */
.linkstone#nav-button {
  width: 3rem;
  height: 3rem;
}

.nav {
  position: fixed;
  top: 6rem;
  left: 0;
  display: none;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  padding: 2rem 0;
  background-color: rgba(247, 253, 253, 0.95);
  box-sizing: border-box;
}

.nav-list {
  width: 82%;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  font-size: 2.4rem;
}
@media (min-width: 769px) {
  .nav-list {
    width: 80%;
    font-size: 4.8rem;
  }
}
.nav-list li {
  padding: 0;
  margin-top: 2rem;
}
.nav-list li a {
  border-bottom: solid 1px #111;
}
.nav-list #nav-list-small {
  font-size: 1.8rem;
  margin-top: 0;
}
@media (min-width: 769px) {
  .nav-list #nav-list-small {
    font-size: 3.6rem;
  }
}
.nav-list span {
  color: #92948F;
}

.main {
  width: 100%;
  padding: 0 0 5rem;
  margin: 0;
}
@media (min-width: 769px) {
  .main {
    padding: 0 0 10rem;
  }
}

section {
  margin-bottom: 5rem;
}
@media (min-width: 769px) {
  section {
    margin-bottom: 10rem;
  }
}

.section-ttl {
  width: 100%;
  padding: 0 0 2rem;
  margin: 0;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 400;
}
@media (min-width: 769px) {
  .section-ttl {
    font-size: 6rem;
  }
}

h3 {
  font-size: 2.4rem;
  font-weight: 400;
}
@media (min-width: 769px) {
  h3 {
    font-size: 3.6rem;
  }
}

.linkstone {
  width: 1.8rem;
  height: 1.8rem;
  background-image: url("../images/icon/linkstone.png");
  background-size: contain;
  background-repeat: no-repeat;
}
@media (min-width: 769px) {
  .linkstone {
    width: 1.8rem;
    height: 1.8rem;
  }
}

.page-contents {
  position: relative;
  top: 6rem;
  width: 82%;
  margin: 0 auto 5rem;
}

.cover {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  background-image: url(../images/cover/cover_bg.jpg);
  background-position: center;
  background-color: rgba(247, 253, 253, 0.43);
  background-blend-mode: lighten;
}
@media (min-width: 769px) {
  .cover {
    height: 70vh;
  }
}

.cover-ttl {
  padding-left: 5%;
}
@media (min-width: 769px) {
  .cover-ttl {
    padding-left: 10%;
  }
}
.cover-ttl .cover-ttl-name {
  width: 100%;
  display: inline;
  text-align: right;
  padding: 0 2rem;
  font-size: 2.4rem;
  background-color: #111;
  color: #31AEB2;
  box-shadow: 5px 5px 10px #31AEB2;
}
@media (min-width: 769px) {
  .cover-ttl .cover-ttl-name {
    text-align: left;
    font-size: 3.6rem;
    margin: 0;
  }
}

@media (min-width: 769px) {
  .cover-ttl-sp {
    display: none;
  }
}

.cover-ttl-pc {
  display: none;
}
@media (min-width: 769px) {
  .cover-ttl-pc {
    display: block;
  }
}

.about {
  width: 100%;
  margin-top: 5rem;
}

.section-contents {
  width: 82%;
  padding: 0;
  margin: 0 auto;
}
@media (min-width: 769px) {
  .section-contents {
    width: 66%;
  }
}

.about-item {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 3rem;
}
@media (min-width: 769px) {
  .about-item {
    flex-direction: row;
    margin-bottom: 5rem;
  }
}

.about-item-ttl {
  width: 100%;
  padding-left: 1rem;
  margin: 0 0 2rem;
  border-left: 3px solid #B5683C;
  color: transparent;
  display: inline-block;
  overflow: hidden;
  position: relative;
  transition: color 0ms 450ms;
}
@media (min-width: 769px) {
  .about-item-ttl {
    width: 48%;
    border-left: 5px solid #B5683C;
  }
}

.about-item-ttl::after {
  background: linear-gradient(to top, #F7FDFD 0%, #31AEB2 100%);
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(0, 100%);
}

.about-item-ttl.is-animated {
  color: #111;
}

.about-item-ttl.is-animated::after {
  -webkit-animation: about-item-ttl 1.2s cubic-bezier(0.8, 0, 0.17, 1);
          animation: about-item-ttl 1.2s cubic-bezier(0.8, 0, 0.17, 1);
}

@-webkit-keyframes about-item-ttl {
  0% {
    transform: translate(0, 101%);
  }
  40%, 60% {
    transform: translate(0, 0%);
  }
  100% {
    transform: translate(0, -100%);
  }
}

@keyframes about-item-ttl {
  0% {
    transform: translate(0, 101%);
  }
  40%, 60% {
    transform: translate(0, 0%);
  }
  100% {
    transform: translate(0, -100%);
  }
}
.profile, .skills {
  padding-left: 1.3rem;
  margin: 0;
}
@media (min-width: 769px) {
  .profile, .skills {
    width: 48%;
    padding: 0;
  }
}
.profile p, .skills p {
  padding: 0;
  margin: 0;
}

.profile-par, .skills-item {
  padding: 0 0 1rem 0;
  margin: 0;
}

.skill-ttl {
  font-weight: 700;
}

.works {
  width: 100%;
}

.section-boxs {
  width: 82%;
  padding: 0;
  margin: 0 auto;
}
@media (min-width: 769px) {
  .section-boxs {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
}

.work-thumbnail {
  width: 100%;
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  margin: 0 0 3rem;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px #92948F;
}
@media (min-width: 769px) {
  .work-thumbnail {
    width: 42%;
    max-height: 30rem;
    padding: 2rem;
  }
}

.work-thumbnail#display-none {
  display: none;
}
@media (min-width: 769px) {
  .work-thumbnail#display-none {
    display: block;
    visibility: hidden;
  }
}

.work-item-image {
  width: 100%;
  padding: 0;
  margin: 0 auto 1rem;
  max-height: 15rem;
  -o-object-fit: contain;
     object-fit: contain;
  box-sizing: border-box;
}
@media (min-width: 769px) {
  .work-item-image {
    max-height: 19rem;
    margin: 0 auto 2rem;
  }
}

.thumbnail-ttl {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}
.thumbnail-ttl h3 {
  padding-left: 0.5rem;
  margin: 0;
  line-height: 2.8rem;
}
.thumbnail-ttl h3 span {
  font-size: 1.4rem;
  line-height: 1.6rem;
}
@media (min-width: 769px) {
  .thumbnail-ttl h3 {
    line-height: 3.8rem;
  }
}

.practice-thumbnail {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
  margin: 0 0 3rem;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px #92948F;
}
@media (min-width: 769px) {
  .practice-thumbnail {
    width: 42%;
  }
}

.practice-item-image#toppage-practice {
  width: 50%;
  padding: 0;
  margin: 0;
  -o-object-fit: contain;
     object-fit: contain;
  box-sizing: border-box;
}

.work-item {
  padding-bottom: 5rem;
  margin: 0 auto;
}
@media (min-width: 769px) {
  .work-item {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
  }
}

.work-item-mockimages {
  height: unset;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-around;
}
@media (min-width: 769px) {
  .work-item-mockimages {
    width: 50%;
  }
}
.work-item-mockimages .work-item-image-whalf {
  width: 33%;
  padding: 0;
  margin: 0 0 1rem;
}

.work-item-ttl {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0;
  margin-bottom: 2rem;
}
.work-item-ttl h3 {
  font-size: 2rem;
  padding: 0 1rem;
  margin: 0;
  border-left: solid 3px #B5683C;
}
@media (min-width: 769px) {
  .work-item-ttl h3 {
    font-size: 3.6rem;
    border-left: solid 5px #B5683C;
  }
}
.work-item-ttl a {
  font-size: 1.8rem;
}

@media (min-width: 769px) {
  .item-caption {
    width: 50%;
    padding: 0;
    margin: 0;
  }
}

.item-caption-det {
  padding-left: 1.3rem;
}
.item-caption-det h4 {
  margin: 1.8rem 0 0;
}
.item-caption-det p {
  padding: 0;
  margin: 0 0 1rem;
}
.item-caption-det a {
  border-bottom: solid 1px;
}

.work-item-index {
  width: 100%;
}
.work-item-index .work-item-index-title a {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1.3rem;
  margin: 0 0 1rem;
}
@media (min-width: 769px) {
  .work-item-index .work-item-index-title a {
    padding-left: 1.5rem;
  }
}
.work-item-index .work-item-index-title a p {
  padding-left: 1rem;
  margin: 0;
}

.section-box {
  width: 82%;
  padding: 0;
  margin: 0 auto;
}

.link-contactform {
  position: relative;
  display: flex;
}
.link-contactform .link-ttl {
  z-index: 50;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
}
.link-contactform .linkstone#contactform {
  position: absolute;
  top: 1rem;
  left: calc(50% - .7rem);
  padding: 0;
  margin: 0;
}

iframe {
  margin: 0 0 5rem;
}

.footer {
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #B5683C;
  color: #111;
}

.page-contents {
  min-height: calc(100vh - 16rem);
}

.contents-boxs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.practice-item-image {
  width: 100%;
  min-height: 13rem;
  position: relative;
  overflow: hidden;
}
@media (min-width: 769px) {
  .practice-item-image {
    min-height: 20rem;
  }
}
.practice-item-image img {
  position: absolute;
  left: 0;
}

.note-ttl {
  padding: 0.5rem 0;
  margin: 0 auto;
}
.note-ttl i {
  padding-right: 0.5rem;
}

.practice-item {
  width: 46%;
  margin: 0 0 2rem;
  padding: 0;
  background-image: radial-gradient(#F7FDFD, #92948F);
  background-clip: border-box;
  text-align: center;
}
@media (min-width: 769px) {
  .practice-item {
    width: 23%;
  }
}

.button {
  text-decoration: none;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(17, 17, 17, 0.7);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
  z-index: 300;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 0px auto;
  padding: 20px;
  background: #F7FDFD;
  width: 80%;
  height: 100vh;
  position: relative;
  transition: all 2s ease-in;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 769px) {
  .popup {
    flex-flow: row wrap;
    width: 60%;
  }
}
.popup img {
  max-height: 50vh;
}
@media (min-width: 769px) {
  .popup img {
    max-width: 50%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
.popup h3 {
  font-size: 2.4rem;
  padding: 0 1rem;
  margin: 0;
  border-left: solid 3px #B5683C;
}
@media (min-width: 769px) {
  .popup h3 {
    border-left: solid 5px #B5683C;
  }
}

.popup .close {
  width: 100%;
  margin: 2rem auto;
  text-align: center;
  transition: all 200ms;
  font-size: 30px;
  text-decoration: none;
}

.popup .item-caption {
  width: 100%;
  max-height: 40%;
  overflow: auto;
  padding: 0;
  margin: 1rem 0;
}
@media (min-width: 769px) {
  .popup .item-caption {
    width: 45%;
    max-height: 100%;
    margin-left: 5%;
  }
}

.caption-hedline {
  padding: 2rem 0 0;
  margin: 0;
}

.caption-list {
  padding: 1rem auto 0;
  margin: 0;
}

#page_top {
  position: fixed;
  right: -65px;
  bottom: 50px;
  background-image: url("../images/icon/Pagetop_sp.png");
  background-origin: border-box;
  background-repeat: no-repeat;
}

#page_top a {
  position: relative;
  display: block;
  width: 65px;
  height: 50px;
  text-decoration: none;
  visibility: hidden;
}

#page_top a::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: -5px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}/*# sourceMappingURL=style.css.map */